<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit chat</title>
</head>
<body>
    <h3>edit your chat</h3>
    <h4><%= chats._id %></h4>
    <p>this chat was sent from <%= chats.from %> to <%= chats.to %></p>
    <form method="post" action="/chats/<%= chats._id %>?_method=PUT">
        <textarea name="msg"><%= chats.msg %></textarea>
        <button>edit</button>
    </form>
</body>
</html>